/* Pinwheel spinner css - source: https://webkul.github.io/csspin/ */

.cp-spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

.cp-pinwheel {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 24px #0fd6ff;
    border-right: solid 24px #58bd55;
    border-bottom: solid 24px #eb68a1;
    border-left: solid 24px #f3d53f;
    animation: cp-pinwheel-animate 1s linear infinite
}

@keyframes cp-pinwheel-animate {
    0% {
        border-top-color: #0fd6ff;
        border-right-color: #58bd55;
        border-bottom-color: #eb68a1;
        border-left-color: #f3d53f;
        transform: rotate(0)
    }

    25% {
        border-top-color: #eb68a1;
        border-right-color: #f3d53f;
        border-bottom-color: #0fd6ff;
        border-left-color: #58bd55
    }

    50% {
        border-top-color: #0fd6ff;
        border-right-color: #58bd55;
        border-bottom-color: #eb68a1;
        border-left-color: #f3d53f
    }

    75% {
        border-top-color: #eb68a1;
        border-right-color: #f3d53f;
        border-bottom-color: #0fd6ff;
        border-left-color: #58bd55
    }

    100% {
        border-top-color: #0fd6ff;
        border-right-color: #58bd55;
        border-bottom-color: #eb68a1;
        border-left-color: #f3d53f;
        transform: rotate(360deg)
    }
}

/* Spinner css - source: http://tobiasahlin.com/spinkit/ */

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* accordion css - source: https://www.taniarascia.com/simple-jquery-examples-with-code-and-demos/ */

* {
    box-sizing: border-box;
}

#searchbox input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: left;*/
    width: 80%;
    background: #f1f1f1;
}

button {
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    height: 38px;
    cursor: pointer;
}

.preamble {
    width: 100%;
    background-color: white;
    color: black;
    margin: 0;
    padding: 8px;
}


html {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.5;
    margin: 0;
}

.logo {
    height: 64px;
}

#country-view {
    position: absolute;
    top: 110px;
    left: 16px;
}

#results-view {
    position: absolute;
    top: 110px;
    left: 16px;
}

#chart-view {
    position: absolute;
    top: 110px;
    left: 16px;
}


h1 {
    font-weight: 700;
    font-size: 32px;
    color: black;
    margin-bottom: 0;
    /*margin-left: 120px;*/
    line-height: normal;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font-size: 36px;
    color: navajowhite;
}

.subtitle {
    color: black;
    font-size: 14px;
    /*margin-left: 150px;*/
    margin-top: 0px;
}

a {
    /*color: hotpink;*/
    color: tan;
}

.selector {
    position: absolute;
    right: 16px;
    top: 16px;
}

select {
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em;
    margin-bottom: 14px;
    max-width: 300px;
    background-color: Wheat;
}




.searchbox {
    position: absolute;
    right: 320px;
    top: 16px;
}

input {
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em;
    margin-bottom: 14px;
    vertical-align: top;
    background-color: Wheat;
}

#select-chart {
    visibility: visible;
}


option {
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em;
    margin: 0.5em;
    height: 200px;
}


.item {
    
    margin-bottom: 8px;
}

.content-image-thumbnail {
    height: 32px;
}

.content-image {
    max-width: 50%;
    max-height: 192px;
    overflow: hidden;
}

.content-image-large {
    max-width: calc(100% - 16px);
    overflow: hidden;
}

#btn-goto-chart, #btn-goto-search {
    display: none;
    vertical-align: middle;
}

.accordion {
    max-width: 100% !important;
    background-color: transparent;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    border-bottom: 1px solid cornsilk;
    color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5em;
    max-width: 250px;
}

    .accordion-header:hover {
        color: navajowhite;
    }

.accordion-content {
    display: none;
    border-bottom: 1px solid #DDE0E7;
    background-color: Cornsilk;
    opacity: 0.9;
    padding: 1.5rem;
    color: firebrick;
    max-width: calc(100% - 16px);
}

.accordion-header::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #B1B5BE;
    margin-right: .75rem;
}

.active.accordion-header::before {
    background-color: cornsilk;
}


#results-table {
    table-layout: fixed;
    margin-right: 16px;
    border-spacing: 0;
    border-collapse: separate;
}

#results-table td  {
    height: 60px;
    overflow: hidden;
}

    #results-table tr:first-child td {
        border-top: 1px solid cornsilk;
    }

    #results-table td {
        border-bottom: 1pt solid cornsilk;
    }



/* ---------- mobile device ---------- */

@media only screen and (max-device-width: 1024px)  {

    /* preamble (first row) is the container around the page banner */

    .preamble {
        margin-top: 0px;
    }


    .logo {
        height: 64px; 
        position: absolute; 
        top: 4px; 
        left: 16px;
    }

    h1 {
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom: 0;
        margin-left: 100px;
        line-height: normal;
    }

    .subtitle {
        font-size: 0.7em;
        margin-left: 105px;
        margin-top: 0;
    }

    /* selector (second row) is the container around the country select drop-down */

    .selector {
        position: absolute;
        right: 4px;
        top: 76px;
        left: 4px;
        max-width: none;
        width: auto;
        overflow: hidden;
    }

    select {
        max-width: 100%;
    }

    #select-chart {
        visibility: collapse;
    }

    /* searchbox (third row) is the container around the search input box and button */

    .searchbox {
        position: absolute;
        left: 4px;
        top: 120px;
        right: 4px;
    }

    input {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    #select-chart {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    #btn-goto-chart, #btn-goto-search {
        position: absolute;
        top: 0px;
        right: 4px;
    }

    #btn-goto-chart {
        display: inline-block;
    }

    /* country view is the country record page */

    #country-view {
        top: 170px;
    }

    #results-view {
        top: 170px;
    }

    #chart-view {
        top: 170px;
    }


    h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #select-chart {
        width: calc(100% - 110px);
    }

    .optional {
        visibility: collapse;
        height: 0;
    }
}